<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
  </head>
  <body>
  	<%- include ../common/header.ejs %>
  	<div class="container-fluid no-padding">
  		<div class="wrapper-outer">
  			<div class="wrapper-inner">
  				<div class="col-md-9 col-sm-8 col-xs-12 left-outer-container">
  					<div class="news-inner-details-row no-padding row no-margin-left">
  						<div class="news-inner-details-content">
  							<div class="upper-title">
  								<h2><%= seriesName %></h2>
  							</div>
  							<div class="main-question">
  								<h1>
	  								<a> <%= title%> </a>								
  								</h1>
  							</div>
  						</div>
  						<div class="news-inner-details-thumb-wrapper">
  							<div class="wrapper">
								<div class="sixteen-by-seven" 
								  style="background: rgba(0, 0, 0, 0) url('https://www.cricingif.com/Images/ArticleImages/1.6/7214.jpg') no-repeat scroll 0 0 / contain ">
								</div>
  							</div>
  						</div>
  						<div class="nid-content-wrapper">
  							<div class="writers-thumb-and-name">
  								<a id="link-blogger">
  									<div class="writers-thumb">
  										<img src="https://www.cricingif.com//Images/BloggerImages/20.png" id="blogger-pic">
  									</div>
  									<div class="writers-name">
  										<p id="blogger-name">By Cricingif Staff</p>
  									</div>
  								</a>
  							</div>
  							<div class="nid-text-container">
  								<div id="cms-content">
									<% for (i = 0 ; i < tagsStartIndices.length ; i++) { %>
										<% var startIndex = tagsStartIndices[i]; %>
										<% var token = srcString.substring(startIndex, tagsEndIndices[i] + 2); %>
										<% var type = token.split(' ')[0].replace('{{', ''); %>
										<% if(type === 'h1') { %>
											<% var args = token.substring(5, token.length - 2) %>
											<div class="article-content-h1"><p><%= args %></p></div>
										<% } else if (type === 'title') {%>
											<% var args = token.substring(7, token.length - 2) %>
											<div class="tc-quiz-ques" style="margin-top:20px;" >
												<p><%= args %></p>
											</div>
										<% } else if (type === 'text') {%>
											<% var args = token.substring(6, token.length - 2) %>
											<!-- <% var links = args.split('{{links') %>
											<% if (links.length > 0) { %>
												<% for (i = 0; i < links.length; i++) { %>
													<% var aTagEndIndex = args.indexOf("}}", links[i]) + 2; %>
													<% var aToken = args.substring(links[i], aTagEndIndex); %>
													<% var token = aToken.substring(6, aToken.length - 2) %>
													<% var _args = token.split('++'); %>
													<a href="<%= _args[0] %>">
														<%= _args[1] %>
													</a>
												<% } %>
											<% } %> -->
											<p><%= args %></p>
										<% } else if (type === 'h2') {%>
											<% var args = token.substring(5, token.length - 2) %>
											<div class="article-content-h2" ><p><%= args %></p></div>
										<% } else if (type === 'detail') {%>
											<% var args = token.substring(8, token.length - 2); %>
											<h5><%= args %></h5>
										<% } else if (type === 'feature-image') {%>
											<% token = token.substring(15, token.length - 2); %>
											<% var args = token.trim(); %>
											<img src="<%= args %>" class="article-img"/>
										<% } %>
									<% } %>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<%- include ../common/footer.ejs %>
  </body>
</html>
