<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
  </head>
  <body>
  	<%- include ../common/header.ejs %>
  	<div class="container-fluid no-padding">
  		<div class="wrapper-outer">
  			<div class="wrapper-inner">
  				<div class="col-md-9 col-sm-8 col-xs-12 left-outer-container">
  					<div class="news-inner-details-row no-padding row no-margin-left">
  						<div class="news-inner-details-content">
  							<div class="upper-title">
  								<h2><%= seriesName %></h2>
  							</div>
  							<div class="main-question">
  								<h1>
	  								<a> <%= title%> </a>								
  								</h1>
  							</div>
  						</div>
  						<div class="news-inner-details-thumb-wrapper">
  							<div class="wrapper">
  								<div class="sixteen-by-seven" style="background: rgba(0, 0, 0, 0) url('https://www.cricingif.com/Images/ArticleImages/1.6/7214.jpg') no-repeat scroll 0 0 / contain "></div>
  							</div>
  						</div>
  						<div class="nid-content-wrapper">
  							<div class="writers-thumb-and-name">
  								<a id="link-blogger">
  									<div class="writers-thumb">
  										<img src="https://www.cricingif.com//Images/BloggerImages/20.png" id="blogger-pic">
  									</div>
  									<div class="writers-name">
  										<p id="blogger-name">By Cricingif Staff</p>
  									</div>
  								</a>
  							</div>
  							<div class="nid-text-container">
  								<div id="cms-content">
  									<%= articleContent %>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<%- include ../common/footer.ejs %>
  </body>
</html>
